build
*.o
*.a
*.so
third_party/musl/musl/lib
third_party/enclave-musl/musl/lib/
samples/hello/rootfs
samples/server/rootfs
samples/shlib/rootfs
samples/hello/appdir
samples/server/appdir
samples/shlib/appdir
samples/alpine/appdir
samples/alpine/minirootfs
samples/alpine/rootfs
samples/ssl/appdir/ssl_client1
samples/ssl/appdir/ssl_server
samples/ssl/rootfs
samples/alpine/alpine-minirootfs.tar.gz
