.vscode
build/
*.o
*.a
*.pem

third_party/musl/musl/lib
third_party/enclave-musl/musl/lib/
**/*.signed/*
rootfs
samples/alpine/alpine-minirootfs.tar.gz
tests/libc-test/srcdir/
__pycache__
_testing.log
third_party/enclave-musl/musl/objects.mak
samples/alpine/appdir/
samples/dlopen/appdir/main
samples/pthread/appdir/
samples/ssl-glibc/appdir/ssl_client1
samples/ssl-glibc/appdir/ssl_server
samples/ssl/appdir/ssl_client1
samples/ssl/appdir/ssl_server
tests/argv/appdir/
tests/cpuid/appdir/
tests/getcwd/appdir/
tests/getpid/appdir/
tests/libc-test/appdir/
tests/nbio/appdir/
tests/rdtsc/appdir/
tests/shlib/appdir/
tests/urandom/appdir/
samples/echo/appdir/
samples/gencreds2/appdir/bin/
samples/curl/appdir/curl
samples/goodbye/appdir/goodbye
tests/libc/appdir/
tests/thread/appdir/
tests/gdb/appdir/
tests/gdb/libos_gdb_out.log
tests/dlopen/appdir/
.gdb_history
tests/pthread/appdir/
tests/alpine/appdir/
