[submodule "third_party/openenclave/openenclave"]
	path = third_party/openenclave/openenclave
	url = https://github.com/openenclave/openenclave.git
	branch = mystikos.v2
[submodule "third_party/musl/musl"]
	path = third_party/musl/musl
	url = git://git.musl-libc.org/musl
[submodule "third_party/ltp/ltp"]
	path = third_party/ltp/ltp
	url = https://@github.com/lsds/ltp.git
	branch = sgx-lkl
