libcxx-tests
llvm-project
appdir
testsa*
temp_*
tests_*
libcxx_failed
failedalpine
alltests
libcxx_passed
tests.all.sorted
tests.failed.sorted
tests.failedalpine.sorted
tests.passed.sorted
tests.remove.sorted
